profiles {
    crg{
	    includeConfig 'conf/crg.config'
	    singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled         = false
		podman.enabled         = false
		shifter.enabled        = false
	    charliecloud.enabled   = false
	}

}



process{
    withLabel: agat {
	    container: "quay.io/biocontainers/agat:1.0.0--pl5321hdfd78af_0"
	}
}
