process {

    withLabel : agat {
        container = 'quay.io/biocontainers/agat:0.8.0--pl5262hdfd78af_0'
        }
    
    withLabel : gffcompare {
        container = 'community.wave.seqera.io/library/gffcompare:0.12.6--592f94624f62246a'
        }

    withLabel : busco {
        container = 'ezlabgva/busco:v5.7.0_cv1'
        }
    
    withLabel : python {
        container = 'community.wave.seqera.io/library/python_pip_argparse_pandas:57b38c999dea04e4'
        }   
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    slurm {
	includeConfig 'conf/slurm.config'
	apptainer.autoMounts   = false
    apptainer.enabled      = true
    apptainer.cacheDir     = '/software/rg/images'
    singularity.enabled    = false
	singularity.autoMounts = false
	docker.enabled         = false
	podman.enabled         = false
	shifter.enabled        = false
	charliecloud.enabled   = false
	}

    crg {
	includeConfig 'conf/crg.config'
	singularity.enabled    = true
	singularity.autoMounts = true
	docker.enabled         = false
	podman.enabled         = false
	shifter.enabled        = false
	charliecloud.enabled   = false
	}

    sin_loc {
	singularity.enabled    = true
	singularity.autoMounts = true
	executor = 'local'
	docker.enabled         = false
	podman.enabled         = false
	shifter.enabled        = false
	charliecloud.enabled   = false
	}
}
