process {

    withLabel : agat {
        container = 'quay.io/biocontainers/agat:0.8.0--pl5262hdfd78af_0'
        }
    
    withLabel : gffcompare {
        container = 'community.wave.seqera.io/library/gffcompare:0.12.6--592f94624f62246a'
        }

    withLabel : busco {
        container = 'ezlabgva/busco:v5.7.0_cv1'
        }
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    crg {
	    includeConfig 'conf/crg.config'
	    singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled         = false
		podman.enabled         = false
		shifter.enabled        = false
	    charliecloud.enabled   = false
	}
}
